*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

.btn{
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
/* Fine common */
/* Header */
header{
    background-color: #0056DE;
    height: 100px;
    line-height: 100px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

#login .btn{
    display: inline;
}

.btn.btn-big{
    padding: 16px 32px;
}

.btn.btn-black{
    background-color: #222;
    color: #fff;
}

.btn:hover{
    color: #0056DE;
}

.btn.btn-black:hover{
    background-color: rgb(71, 71, 71);
}

#logo img{
    vertical-align: middle;
}

#logo{
    float: left;
    width: 15%;
    display: inline-block;
}

header nav{
    float: left;
    width: 70%;
}

header nav a{
    text-decoration: none;
    margin: 0px 20px;
}

header nav ul li{
    display: inline-block;
}

header nav ul{
    text-align: center;
}

header nav ul li a{
    color: #fff;
}

#login{
    float: right;
    width: 15%;
    text-align: right;
}
/* Fine Header */

/* Jumbotron */
#jumbotron{
    background-image: url('../img/jumbo.png');
    min-height: 600px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#jumbotron .container{
    max-width: 780px;
    text-align: center;
}

#jumbotron h1{
    padding-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
}

#jumbotron p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 2em;
}

.fas{
    margin-right: 10px;
}
/* Fine Jumbotron */

/* Main */
/* Main primo item */
.content{
    margin: 100px auto;
}

.content::after{
        display: table;
        content: "";
        clear: both;
}

img.image{
    width: 60%;
    object-fit: cover;
    float: left;
}

img.image.central{
    float: right;
}

.content-text{
    width: 30%;
    float: right;
}
/* Fine Main primo item */
/* Main secondo item */
.content-text.central{
    float: left;
}

.content-text h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 30px;
}

.content-text p{
    font-size: 16px;
    line-height: 1.5em;
}
/* Fine Main secondo item */
/* Main quarto item */
.content.last-content{
    margin: 100px auto;
}

.last-content .text{
    text-align: center;
}

.text h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.text p{
    font-size: 16px;
    line-height: 1.5em;
}

.last-text{
    text-align: center;
    background-image: url('../img/stars.svg');
    background-repeat: repeat;
    background-size: contain;
}

.last-text h2{
    padding-bottom: 20px;
}

.btn.btn-purple{
    background-color: #8ea1e1;
    color: #fff;
}

.btn.btn-purple:hover{
    background-color: #5865f2;
}
/* Fine Main quarto item */
/* Footer */
footer{
    background-color: #23272a;
    height: 500px;
}

.contenitore{width:100%; position:relative}

